<div class="container">

    <div class="col-xs-12 col-sm-8 offset-sm-2 box-login">
        <div class="card shadow p-3 mb-5  ">
            <div class="card-header text-center">
                <img [src]=" 'login/logo.png' |img" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title mb-5 text-center">Login</h5>
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <form [formGroup]='loginForm' (ngSubmit)='login()'>
                            <div class="mb-3">
                                <input formControlName='user' class="form-control" type="text" placeholder="User name"
                                    [ngClass]="{'is-invalid' : validateInput('user') }">
                                <span class="invalid-feedback">
                                    User is requiered
                                </span>
                            </div>
                            <div class="mb-3">
                                <input formControlName='password' class="form-control" type="password"
                                    placeholder="Password" [ngClass]="{'is-invalid' : validateInput('password') }">
                                <span class="invalid-feedback">
                                    Password is requiered
                                </span>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
                                Username and password do not match any user in this service
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <div class="d-grid gap-2 mt-3" *ngIf="!loading; else showLoading">
                                <button class="btn btn-outline-danger" type="submit"
                                    [disabled]='loginForm.invalid'>Login</button>
                            </div>
                            <ng-template #showLoading>
                                <div class="text-center">
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </ng-template>

                        </form>
                    </div>
                    <div class="col col-xs-12 text-center">
                        <img [src]="'login/Login_Bot.png' | img" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                <pre><b>Accepted usernames are: </b><br>standard_user - secret_sauce</pre>
            </div>
        </div>
    </div>

</div>