<div class="container">

    <div *ngIf="products.length === 0 ; else showProducts">
        <div class="d-flex align-items-center text-danger">
            <strong>Loading...</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>

    <ng-template #showProducts>
        <div class="col-sm-3 col-xs-12">
            <div class="input-group mb-3">
                <span class="input-group-text text-danger"><i class="fas fa-filter"></i></span>
                <select class="form-select p-2" (change)="changeFilter($event)" >
                    <option selected [value]='typesFilter.nameAtoZ'>NAME (A to Z)</option>
                    <option [value]="typesFilter.nameZtoA">NAME (Z to A)</option>
                    <option [value]="typesFilter.priceLowHigh">PRICE (Low to High)</option>
                    <option [value]="typesFilter.priceHighLow">PRICE (High to Low)</option>
                </select>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1 g-3 xx">

            <div class="col" *ngFor="let product of products |sort: filter ; let i = index">
                <app-card-producto [product]='product' [index]="i" (add)='addCar($event)' (remove)='removeCar($event)' [have]=' haveCar(product.id) ' ></app-card-producto>
            </div>
        </div>
    </ng-template>
</div>