<div class="row">
    <div class="offset-sm-2 col-sm-8 mt-3">

        <form class="row g-3" [formGroup]='formInformation'>
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input type="text" [ngClass]="{'is-invalid' : validateInput('name') }" formControlName='name'
                    class="form-control" placeholder="First Name...">
                <div class="invalid-feedback">
                    Please choose a name.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" [ngClass]="{'is-invalid' : validateInput('lastName') }" formControlName='lastName'
                    class="form-control" placeholder="Last Name...">
                <div class="invalid-feedback">
                    Please choose a last name.
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <label class="form-label">Zip</label>
                <input type="text" [ngClass]="{'is-invalid' : validateInput('zip') }" formControlName='zip'
                    class="form-control" placeholder="Zip...">
                <div class="invalid-feedback">
                    Please choose a zip.
                </div>
            </div>

            <div class="col-sm-9 col-xs-12">
                <label class="form-label">Address</label>
                <input type="text" [ngClass]="{'is-invalid' : validateInput('address') }" formControlName='address'
                    class="form-control" placeholder="1234 Main St">
                <div class="invalid-feedback">
                    Please choose an address.
                </div>
            </div>
        </form>

    </div>
</div>
<div class="mt-5">
    <button class="btn btn-secondary" routerLink='/products'><i class="fas fa-arrow-left"></i> Continue
        Shopping</button>
    <button class="btn btn-danger float-end" (click)="continue()" [disabled]='formInformation.invalid'>Checkout</button>
</div>